connection:
  host: meusite.com
  ssh_user: usuario
  ssh_password: senha #Deixar em braco se for usar chaves ssh
  ssh_port: 22
database: #Não colocar essa chave se não houver backup de banco
  database_name: nome_do_banco
website: #Não colocar essa chave se não houver backup de codigo
  site_path: /home/exemplo/public_html
  ignore: ["tmp", "cache", "config/senhas.php"] #Arquivos e Pastas a serem ignoradas pelo backup que ficam dentro do site_path
configuration:
  local_backup_folder: /home/exemplo/backups #Pasta local para salvar os backups
  remote_temporary_backup_folder: /home/exemplo/backup_tmp
  frequency: 1 #days
