require "terminal-notifier"
require 'timeout'
TerminalNotifier.notify('Iniciando deamon de backups :)')

begin
  Timeout::timeout(3600) do
    `HOST="exemplo1.com" bundle exec cap mysql:backup 2>&1`
    `HOST="exemplo1.com" bundle exec cap website:backup 2>&1`
    TerminalNotifier.notify('exemplo1.com - Backup OK!')
  end
rescue StandardError => e
  TerminalNotifier.notify('Erro no backup de exemplo1.com!')
end

begin
  Timeout::timeout(3600) do
    `HOST="exemplo2.com" bundle exec cap mysql:backup 2>&1`
    `HOST="exemplo2.com" bundle exec cap website:backup 2>&1`
    TerminalNotifier.notify('exemplo2.com - Backup OK!')
  end
rescue StandardError => e
  TerminalNotifier.notify('Erro no backup de exemplo2.com!')
end
